mixin intro()
    section.intro#intro
        .container
            .intro__top
                h1.intro__title Полный<br/>эффект
                .intro__right 
                    .intro__p.active <span class="w-100">мы объединяем VR и анимацию,</span><br /><div></div><span>создавая захватывающие визуальные эффекты</span>
                    .intro__p.pl <span class="w-100">доступно для тех, кто ценит инновации</span><br /><span>и эффект полного погружения</span>
            .intro__bot 
                p.active Погружаем зрителей в цифровые миры<br/>с помощью VR
                p Анимация, которая не просто двигается<br/>— она захватывает
                p Создаём виртуальные пространства<br/>для брендов, искусства и развлечений
                p Будущее контента — это интерактивность<br/>и вовлечение. Мы создаём его уже сегодня