// Тема по умолчанию

:root{
    --bg: #fff;
    --text: #3D3D3D;
    --gray: #C2C2C2;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    font-family: 'Montserrat', sans-serif;
    &:focus,
    &:active{
        outline: none;
    }
}
html,
body{
    height: 100%;
}
.wrapper{
    min-height: 100%;
    display: flex;
    flex-direction: column;
    .main{
        flex: 1 1 auto;
    }
}
button{
    background: none;
    border: none;
    cursor: pointer;
}
a{
    color: inherit;
}
ul{
    list-style-type: none;
}
body{
    background: var(--bg);
    color: var(--text);
}
.container{
    width: 100%;
    @include res('padding-left', 75px);
    @include res('padding-right', 75px);
}
.intro{
    height: calc(100vh - 9.0625vw);
    display: flex;
    align-items: flex-end;
    @include res('padding-bottom', 75px);
    &__top{
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        @include res('gap', 32px);
    }
    &__title{
        font-weight: 600;
        text-transform: uppercase;
        @include res('min-width', 1028px);
        @include res('font-size', 150px);
    }
    &__right{
        flex: 1 1 auto;
        @include res('padding-top', 40px);
    }
    &__p{
        font-weight: 600;
        color: var(--gray);
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        @include res('font-size', 18px);
        &.pl{
            @include res('margin-top', 18px);
            @include res('padding-left', 70px);
        }
        div{
            display: block;
            @include res('width', 70px);
        }
        span{
            &.w-100{
                width: 100%;
            }
        }
        &.active{
            color: var(--text);
        }
    }
}